.DS_Store
.log
.ipynb_checkpoints/
__pycache__/

scratch.py

shuffle_intermediate/*
presentation/*

config*/*
exps/*
data/*
data_/*
newpipeline/*
.snakemake/*
results/*
results*/*
infosys.egg-info/
synthetic_results/*
strategy_analyses/*
long_results/*
test/*
influx_analyses/*
